body {
background: url(/../images/crossword.png);
}
li {
list-style-type: circle;
line-height: 1.5em;
}

#header {
text-align: center;
padding-top:30px;
}

#main {
text-align: center;
}

#gameTitle {
display:inline-block;
padding-bottom: 15px;
border-bottom: 1px solid;
}

.inputForm {
font-size: 18px;
border: none;
}
.button {
display:inline-block;
padding:12px;
box-shadow: 0px 0px 1px 0px black;
background:green;
background:linear-gradient(#3E5923, #778C61, #778C61, #778C61);
/*background: rgb(211, 211, 211);*/
color: white;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E5923', endColorstr='778C61');
border-radius: 5px;
}

.button:hover {
color:#36402C;
box-shadow: none;
cursor: pointer;
background:#778C61;
}
.buttonHolder {
text-align: center;
padding:30px;
}

.container {
background: rgba(54, 64, 44, .5);
color: #36402C;
margin:30px 10%;
border-radius: 5px;
}
.hidden{
display:none;
}

.specialCardOptionHolder {
width: 40%;
margin-left: 5%;
float: left;
}
.listCentered {
margin: auto;
text-align: left;
display: inline-block;
}
#heroCards {
border-left: 1px solid;
}
.homeButtons {
display: inline-block;
margin:12px;
}
