<!-- Form Screen -->
	<div class="centerFloats" ng-hide="totalCards===cardsInDeck">
		<h3>Amount of normal cards:</h3>
<!-- 			<select class="inputForm" ng-model="cardkeeper.cardsInDeck">
			<option ng-repeat="num in numbers" value={{num}}>{{num}}</option>
			</select>		 -->
			<input class="inputForm" placeholder="Enter a number here" ng-model="cardkeeper.cardsInDeck">
		</input>
		
		<h3>Which special cards will be played?</h3>
		<h4>
			NOTE: For a balanced game, statistically speaking, one should start out with having as many "villains" as the square root of the amount of the total players.  For example, with 16 people playing (excluding the narrator), there should be 4 villains.
		</h4>
			<div class="specialCardOptionHolder">
				<h3> Villains </h3>
				<ul class="listCentered">
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.badGuy.one"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.badGuy.two"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.badGuy.three"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.badGuy.four"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.badGuy.super"> {{w.alphaBadGuy}}
				</input>
				</li>
				</ul>
				 <br/> <br/>
			</div>	

			<div class="specialCardOptionHolder">
				<h3> Heroes </h3>
				<ul class="listCentered">
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.defender.one" ng-change="change()"> {{w.hunter}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.defender.two" ng-change="change()"> {{w.hunter}}</input>
				</li>
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.special.seer" ng-change="change()"> {{w.seer}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.special.peeker" ng-change="change()"> {{w.peeker}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.special.idiot" ng-change="change()"> {{w.villageIdiot}}</input> 
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.special.saver" ng-change="change()"> {{w.saver}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.special.judge" ng-change="change()" ng-click="cardkeeper.cardsInDeck = cardkeeper.cardsInDeck ++;"> {{w.judge}}</input> <br/> <br/>
				</li>
				</ul>
				</div>

		<div class="buttonHolder">

			<h3 class="button" id="shuffler" ng-click="totalCards = cardsInDeck; card.Counter();"  id="nextCard"  ui-sref="cheatProtect"> Let's Shuffle! </h3>
		<h4 ng-model="cardkeeper.deck"> It looks like you want {{cardkeeper.cardsInDeck}} normal cards and {{counts}} special cards, for a total of {{cardkeeper.cardsInDeck + counts}} players.</h4>

		</div>
	</div>

<!-- cheatProtect Screen -->
<!-- <span  ng-hide="falser">
	<div ng-show="totalCards===cardsInDeck">
	<h2> Card {{cardkeeper.currentCard}} of {{cardkeeper.cardsInDeck}}
	</h2>
	<h2>
		Click the button below when you are ready for the next card to be revealed
	</h2>
	<div class="buttonHolder">
		<h3 class="button" ng-click="falser = true;">
			Click to continue
		</h3> <br/><br/>
	</div>
</div>
</span> -->

<!-- Card Screen -->
<!-- <span>
<div ng-show="falser" class="defaultHidden">
	<h2> Card {{cardkeeper.currentCard}} of {{cardkeeper.cardsInDeck}}
	</h2>
	<h2>
		You are a...
	</h2>
	<h1> {{test}}</h1>
	<div class="buttonHolder">
		<h3 class="button" ng-click="currentCard = currentCard + 1; falser = false;">
			Click to continue
		</h3>
	</div>
</div>
</span>
<script>
document.getElementById("shuffler").onclick = function() {myFunction()};

function myFunction() {
    console.log("Cows!");
}
</script>
 -->