<!-- Form Screen -->
	<div class="centerFloats" ng-hide="totalCards===cardsInDeck">
		<h3>Amount of normal cards:</h3>
			<select class="inputForm" ng-model="cardkeeper.cardsInDeck.normals">
			<option ng-repeat="num in numbers" value={{num}}>{{num}}</option>
			</select>		
		
		<h3>Which special cards will be played?</h3>
		<h4>
			NOTE: For a balanced game, statistically speaking, one should start out with having as many "villains" as the square root of the amount of the total players.  For example, with 16 people playing (excluding the narrator), there should be 4 villains.
		</h4>
			<div class="specialCardOptionHolder">
				<h3> Villains </h3>
				<ul class="listCentered">
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.cardsInDeck.badGuy[0]"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.cardsInDeck.badGuy[1]"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.cardsInDeck.badGuy[2]"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.cardsInDeck.badGuy[3]"> {{w.villain}}
				</input>
				</li>
				<li>
				<input type="checkbox" 
				ng-model="cardkeeper.cardsInDeck.alpha[0]"> {{w.alphaBadGuy}}
				</input>
				</li>
				</ul>
				 <br/> <br/>
			</div>	

			<div class="specialCardOptionHolder">
				<h3> Heroes </h3>
				<ul class="listCentered">
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.cardsInDeck.defender[0]" ng-change="change()"> {{w.hunter}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.cardsInDeck.defender[1]" ng-change="change()"> {{w.hunter}}</input>
				</li>
				<li>
				<input type="checkbox" checked ng-model="cardkeeper.cardsInDeck.seer[0]" ng-change="change()"> {{w.seer}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.cardsInDeck.peeker[0]" ng-change="change()"> {{w.peeker}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.cardsInDeck.idiot[0]" ng-change="change()"> {{w.villageIdiot}}</input> 
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.cardsInDeck.saver[0]" ng-change="change()"> {{w.saver}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="cardkeeper.cardsInDeck.judge[0]" ng-change="change()"> {{w.judge}}</input> <br/> <br/>
				</li>
				</ul>
				</div>

		<div class="buttonHolder">

			<h3 class="button" id="shuffler" ng-click="totalCards = cardsInDeck; cardclone = cardkeeper.cardsInDeck; check();"  id="nextCard"  ui-sref="cheatProtect"> Let's Shuffle! </h3>

		</div>
	</div>