<!-- Form Screen -->
	<div class="centerFloats" ng-hide="totalCards===cardsInDeck">
		<h3>Total players (excluding the narrator):</h3>
			<select class="inputForm" ng-model="cardsInDeck">
			<option ng-repeat="num in numbers">{{num}}</option>
			</select>		
<!-- 			<input class="inputForm" placeholder="Enter a number here" ng-model="cardsInDeck">
		</input> -->
		
		<h3>Which special cards will be played?</h3>
		<h4>
			NOTE: For a balanced game, statistically speaking, one should start out with having as many "villains" as the square root of the amount of the total players.  For example, with 16 people playing (excluding the narrator), there should be 4 villains.
		</h4>
			<div class="specialCardOptionHolder">
			<h3> Villains </h3>
			<ul class="listCentered">
				<li>
				<input type="checkbox" checked ng-model="badGuy.one"> {{m.villain}}</input>
				</li>
				<li>
				<input type="checkbox" checked ng-model="badGuy.two"> {{m.villain}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="badGuy.three"> {{m.villain}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="badGuy.four"> {{m.villain}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="badGuy.super"> {{m.alphaBadGuy}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="special.idiot"> {{m.villageIdiot}}</input>
				</li>
				</ul>

					<br/> <br/>
			</div>
			<div class="specialCardOptionHolder" id="heroCards">
				<h3> Heroes </h3>
				<ul class="listCentered">
				<li>
				<input type="checkbox" checked ng-model="defender.one"> {{m.hunter}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="defender.two"> {{m.hunter}}</input>
				</li>
				<li>
				<input type="checkbox" checked ng-model="special.seer"> {{m.seer}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="special.peeker"> {{m.peeker}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="special.saver"> {{m.saver}}</input>
				</li>
				<li>
				<input type="checkbox" ng-model="special.judge"> {{m.judge}}</input>
				</li>
				</ul>

				 <br/> <br/>

			</div>

		<div class="buttonHolder">
			<h3 class="button" ng-click="totalCards = cardsInDeck"> click to continue </h3>
		</div>
	</div>
	
<!-- cheatProtect Screen -->
	<div ng-show="totalCards===cardsInDeck">
	<h2> Card {{currentCard}} of {{cardsInDeck}}
	</h2>
	<h2>
		Click the button below when you are ready for the next card to be revealed
	</h2>
	<div class="buttonHolder">
		<h3 class="button">
			Click to continue
		</h3>

	</div>
</div>