<div id="header">
  <h1>{{gameTitle}}</h1>
  <span  ng-hide="gameTitle === gameTitleInput">
    <input class="inputForm" placeholder="Enter name of game here" ng-model="gameTitleInput">
  </span>
</div>

  <span ng-hide="gameTitle === gameTitleInput">
<div class="buttonHolder">

<h3 ui-sref="form" class="button" id="nameButton" ng-click="gameTitle = gameTitleInput;" ng-model="titleHider">click to continue </h3>

</div>
  </span>
<div id="main">
  <div ui-view>

  </div>

<div id="footer">
</div>