<div id="header">
  <h1 id="gameTitle">{{gameTitle}}</h1>
<!--   <span  ng-hide="hide1">
    <select class="inputForm" placeholder="Enter name of game here" ng-model="gameTitleInput">
    <option ng-model = "werewolf" value="Werewolf">Werewolf</option>
    <option ng-model = "mafia" value="Mafia">Mafia</option>
    </select>
  </span> -->
</div>


  <span ng-hide="hide1">
<div class="buttonHolder">
<div class="homeButtons">
<h3 ui-sref="form" class="button" id="nameButton" ng-click="hide1 = true; gameTitle = 'Werewolf'" ng-model="titleHider">Werewolf </h3>
</div>
<div class="homeButtons">
<h3 ui-sref="form2" class="button" id="nameButton" ng-click="gameTitle = 'Mafia'; hide1 = true;"> Mafia
</h3>
</div>
</div>
  </span>

<div id="main">
  <div ui-view>

  </div>

<div id="footer">
</div>